.progress-indicator {
  background-color: var(--surface-color);
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* .progress-canvas {
  display: block;
  margin-bottom: 10px;
} */

.progress-canvas {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 8px auto;
}

.progress-label {
  font-size: 9px;
  color: var(--text-light-color);
  font-weight: 600;
}

@media (max-width: 768px) {
  .progress-indicator {
    padding: 6px;
  }

  .progress-canvas {
    width: 80px;
    height: 80px;
    margin-bottom: 6px;
  }

  .progress-label {
    font-size: 8px;
  }
}

@media (max-width: 480px) {
  .progress-indicator {
    padding: 4px;
  }

  .progress-canvas {
    width: 60px;
    height: 60px;
    margin-bottom: 4px;
  }

  .progress-label {
    font-size: 7px;
  }
}
