.progress-indicator {
  background-color: var(--surface-color);
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* .progress-canvas {
  display: block;
  margin-bottom: 10px;
} */

.progress-canvas {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 8px auto;
}

.progress-label {
  font-size: 9px;
  color: var(--text-light-color);
  font-weight: 600;
}
